.wrapper {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 9.5rem;
  width: 400px;
  padding: 40px;
  /* background: rgba(0,0,0,.5); */
  background: var(--theme-default-bg);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: var(--border-radius);
}

.wrapper h3 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--theme-default-text);
  text-align: center;
  font-size: 1.5rem;
}