html {
  font-size: 15px;
}

body {
  font-family: var(--font-primary);
  color: var(--theme-default-text);
  background-color: var(--theme-default-bg);
}

.layout {} 

header {}

footer {}

.page {
  padding: 1rem 0;
}

.active {
  color: var(--color-red);
}
